/* Contact.module.css */

.contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info p {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.contact-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.contact-item button:hover {
    background-color: #c82333;
}
.contact-info svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
